<div class="bcplayer-container">
    <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="50" cy="50" r="50" fill="black" fill-opacity="0.75"/>
        <path d="M71 50L39 79L39 21L71 50Z" fill="white"/>
    </svg>
    <iframe style="" src="https://bandcamp.com/EmbeddedPlayer/album=3826288194/size=large/bgcol=ffffff/linkcol=0687f5/artwork=none/transparent=true/tracklist=true/tracks=3694395915,1448631644,3044526564,2954753450,3969853600,2846278735/esig=ea9e085acc8134c2822749274c73e071/" seamless>
        <a href="http://deadagent.bandcamp.com/album/sgt-sltr-mln">SGT_SLTR_MLN by Dead Agent</a>
    </iframe>
</div>
<script></script>