{% extends "_layouts/page.html" %}

{% set page_title = "SGT_SLTR_MLN" %}
{% set page_id = "home" %}

{% block page_head %}
<link rel="stylesheet" href="/css/swiper.min.css">
{% endblock %}

{% block body %}
<section class="home-main">
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide slide0">
            <h1>
                <span hidden>Dead Agent</span>
                {% include "_partials/logo.html" %}
            </h1>
            <h2>SGT_SLTR_MLN</h2>
            {% include "_partials/player.html" %}
        </div>
        <div class="swiper-slide slide1">
            <h1>
                <span hidden>Dead Agent</span>
                {% include "_partials/logo.html" %}

            </h1>

            <h2>Order Disorder</h2>
        </div>
        <div class="swiper-slide slide2">
            <h1>
                <span hidden>Dead Agent</span>
                {% include "_partials/logo.html" %}
            </h1>

            <h2>Mutilated</h2>
        </div>
        <div class="swiper-slide slide3">
            <h1>
                <span hidden>Dead Agent</span>
                {% include "_partials/logo.html" %}
            </h1>

            <h2>Bit Shifter</h2>
        </div>
        <div class="swiper-slide slide4">
            <h1>
                <span hidden>Dead Agent</span>
                {% include "_partials/logo.html" %}
            </h1>

            <h2>Frektik</h2>
        </div>
        <div class="swiper-slide slide5">
            <h1>
                <span hidden>Dead Agent</span>
                {% include "_partials/logo.html" %}
            </h1>

            <h2>Home Automaton</h2>
        </div>
        <div class="swiper-slide slide6">
            <h1>
                <span hidden>Dead Agent</span>
                {% include "_partials/logo.html" %}
            </h1>

            <h2>New Patterns</h2>
        </div>
    </div>
    <div class="da-swiper-button-prev">{% include "_partials/triangle.html" %}</div>
    <div class="da-swiper-button-next">{% include "_partials/triangle.html" %}</div>
</section>

<section class="home-footer">
    <a class="button-buy-music" href="https://deadagent.bandcamp.com" target="_blank"><i class="fas fa-boombox"></i> Music</a>
    <a class="button-buy-merch" href="https://merch.deadagent.net" target="_blank"><i class="fas fa-tshirt"></i> Merch</a>
    <a class="button-buy-visuals" href="https://society6.com/sgt_slaughtermelon" target="_blank"><i class="fas fa-images"></i> Visuals</a>
</section>
{% endblock %}

{% block page_footer %}
<script src="/js/swiper.min.js"></script>
<script>
    function resizeHomeMain() {
        document.querySelector('article').setAttribute('style', 'height: ' + window.innerHeight + 'px;');
    }

    // resize nav when window resized
    window.addEventListener('resize', resizeHomeMain);

    resizeHomeMain();

    var mySwiper = new Swiper('.home-main', {
        // Optional parameters
        direction: 'horizontal',

        // If we need pagination
        pagination: {
            el: '.da-swiper-pagination',
        },

        // Navigation arrows
        navigation: {
            nextEl: '.da-swiper-button-next',
            prevEl: '.da-swiper-button-prev',
        },

        // And if we need scrollbar
        scrollbar: {
            el: '.da-swiper-scrollbar',
        },
    })
</script>
{% endblock %}